node_modules
.next
.next*
.next-dev
.next-prod
.next_cache_*
.next-dev_cache_*
.next-prod_cache_*
apps/web/.next
apps/web/.next*
apps/web/.next-dev
apps/web/.next-prod
apps/web/.next_cache_*
apps/web/.next-dev_cache_*
apps/web/.next-prod_cache_*
.dist
/dist
.DS_Store
.env
.runtime
